@import '../../../components/global.scss';
.formInput {
  grid-row: 1/2;
  grid-column: 1/2;

  &:hover {
    border-color: var(--card-title-text);
  }

  &:focus {
    border-color: var(--card-title-text) !important;
    box-shadow: 0 0 0 2px rgba(255, 201, 201, 0.3);
  }

  &_readonly {
    pointer-events: none;
  }
}
