@import '../../components/global.scss';

.formViewNote {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 8% 60%;
  gap: 1rem;
  margin: 20px;
  width: 100vw;
  justify-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
  justify-items: end;
}
