@import '../../../components/global.scss';
.form-textfield {
  grid-row: 2/3;
  grid-column: 1/3;
  &:hover {
    border-color: var(--card-title-text);
  }
  &:focus {
    border-color: var(--card-title-text) !important;
    box-shadow: 0 0 0 2px rgba(255, 201, 201, 0.3);
  }
}
