@import './global.scss';

.container {
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  margin: 0;
}

.header {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--header-accent-color);
}

.main-title {
  color: var(--text-color);
  font-size: 5rem;
  font-weight: 300;
}

.main-container {
  display: flex;
}

.main-card-container {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  margin: 0;
  background-color: white;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: var(--header-accent-color);
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 5px;
  border: var(--header-accent-color);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(244, 232, 139);
}
