@import '../../components/global.scss';
.btnSave {
  background-color: var(--card-title-text);
  box-shadow: 0 2px 0 rgba(255, 201, 201, 0.3);
  &:hover {
    background-color: var(--text-color) !important;
  }
}

.btnCancel {
  color: var(--card-title-text);
  box-shadow: 0 2px 0 rgba(255, 201, 201, 0.3);
  &:hover {
    color: var(--text-color) !important;
    border-color: var(--text-color) !important;
  }
}
