@import '../../components/global.scss';

.mainCardContainer {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 1rem;
  grid-auto-rows: 1fr;
  justify-items: center;
  align-items: center;
  margin: 0;
  background-color: white;
  overflow: hidden;
}

.link {
  display: inline-block;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: var(--header-accent-color);
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 5px;
  border: var(--header-accent-color);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(244, 232, 139);
}
